html {
    background: url("../images/us-flag.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: BebasNeueRegular;
    opacity: 1;
    margin: 0
}


/*-----------------------------------------------------------------
                    Setting the background image
------------------------------------------------------------*/

header {
    font-size: 4.5rem;
    font-weight: bolder;
    line-height: 7rem;
    text-align: center;
    color: navajowhite;
    letter-spacing: .25rem;
    margin-bottom: 100px;
    margin-top: 15px;
    opacity: 0.7;
    /*    min-height: 100%;
    */
}

.container {
    min-height: 100%;
}

.intro-section,
.quiz-section,
.result-section {
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    background-size: cover;
    line-height: 2.5rem;
    text-align: center;
    background: url("../images/transparent.jpg");
    color: bisque;
}

#startQuiz,
#submit-answer {
    margin: auto;
    margin-top: 25px;
    font-size: 22px;
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;
    color: bisque;
    background-color: black;
    letter-spacing: .2rem;
    outline: none;
}

.intro-section h2 {
    font-size: 2.4rem;
    letter-spacing: .2rem;
}

.intro-section p {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 1.75rem;
}

.quiz-options {
    text-align: left;
    width: 40%;
    margin: 0 auto;
}

.choices {
    margin-right: 1rem;
}


/*
.result-section p {
    color: white;
}
*/

span {
    font-weight: bold;
    font-size: 1.3em;
}


/*----------------------------------------
        Mobile responsiveness
-----------------------------------------*/


/* iPhone 5 && 5s Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    header {
        font-size: 3em;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .quiz-options {
        text-align: left;
        width: auto;
        margin-left: 40px;
        color: cyan
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    header {
        font-size: 40px;
        margin-bottom: 50px;
        line-height: 4rem;
        color: white;
    }
    .intro-section {
        line-height: 3rem;
    }
    .container {
        width: 100%;
    }
}
